<body>
	<div class="content">

        <h3 class="section-title">Send Me a Message</h3>

        <dl class="contactList">

            <dt class="adresseSection">
                <h3 class="adresseLine1">Daniel MEJIA</h3> 
                <p>Institut de Mécanique des Fluides de Toulouse</p> 
                <p>2 Allée du Professeur Camille Soula</p>
                <p>31400 Toulouse, France</p>
                <p>movile: +33 6 89 85 79 06</p>
                <p>work: +33 5 34 32 28 93</p>
                <p>fax: +33 5 34 32 28 99</p>
            </dt>

            <dd class="contactWection">
                <form method="POST" action="http://formspree.io/{{ site.email }}">
                    
                    <div class="infoContactGroup">
                        
                        <label><span>Your Name:</span>
                        <input type="text" name="name"></label>
                        
                        <label><span>Your Email:</span>
                        <input type="email" name="_replyto"></label>
                    
                    </div>
                        
                        <label><span>Message:</span>
                        <textarea name="message"></textarea></label>
                        
                        <div class="submitWrap">
                            <input type="submit" value="Send">
                        </div>
                
                </form>
            </dd>

        </dl>

    </div>
</body>


