<footer>
	
	    <div class="footerWrapper">

    	<dl class="footerColWraper">

		    <dt class="footerCol footerCol1">
		    	<ul class="contactList">
		    		<li><p class="footerName"><a href="index.html">{{ site.name }}</a></p></li>
		    		<li><p class="footerJob">{{ site.job }}</p><li>
		    		<li><p><a class="link" href="../data/documents/mejiaCV.pdf"">Download CV in .pdf</a></p><li>
		    		<li><p>SSS</p><li>
		    	</ul>
		    </dt>

		    <dd class="footerCol footerCol2">
		    		<a href="{{ site.links.github }}"><i class="svg-icon github"></i></a>
		    		<a href="{{ site.links.linkedin }}"><i class="svg-icon linkedin"></i></a>
		    		<a href="{{ site.links.youtube }}"><i class="svg-icon youtube"></i></a>
		    		<a href="{{ site.links.flickr }}"><i class="svg-icon flickr"></i></a>
		    </dd>

	    </dl>

    </div


</footer>