<div class="containerNav">
	<nav>
		<div class="navTitle">
			<h3><a href="index.html">{{ site.name }}</a></h3>
		</div>
			<ul class="navList">
			<li><a href="index.html" {% if page.url == "/" %}class="active"{% endif %}>About</a></li>
			<li><a href="resume.html" {% if page.url == "/resume.html" %}class="active"{% endif %}>Resume</a></li>
			<li><a href="research.html" {% if page.url == "/research.html" %}class="active"{% endif %}>Research</a></li>
			<li><a href="publications.html" {% if page.url == "/publications.html" %}class="active"{% endif %}>Publications</a></li>
			<li><a href="contact.html" {% if page.url == "/contact.html" %}class="active"{% endif %}>Contact</a></li>
			</ul>
	</nav>
</div>