<body>
	<div class="content">
        <h3 class="section-title">Publications</h3>
        	<ul class="listPublications">
        		<li>D. Mejia, M. Bauerheim, P. Xavier, B. Ferret, L. Selle, T. Poinsot</br>
                    <p class="publicationsTitle">Stabilization of a premixed laminar flame on a rotating cylinder.</p>
                    <a class="link" href="../resume/data/publications/Mejia2017.pdf" download="FileName">Proceedings of the Combustion Institute 000 (2016) 1–9</a></br>
                </li>
                <li>M. Miguel-Brebion, D. Mejia, P. Xavier, F. Duchaine, B. Bedat, L. Selle, T. Poinsot</br>
        			<p class="publicationsTitle">Joint experimental and numerical study of the influence of flame holder temperature on the stabilization of a laminar methane flame on a cylinder.</p>
        			<a class="link" href="../data/publications/Miguel-Brebion2016.pdf">Combustion and Flame 172 (2016) 153–161</a></br>
        		</li>
        		<li>D. Mejia, M. Miguel-Brebion, L. Selle</br>
        			<p class="publicationsTitle">On the experimental determination of growth and damping rates for combustion instabilities</p>
        			<a class="link" href="../data/publications/Mejia2016.pdf">Combustion and Flame 169 (2016) 287–296</a></br>
        		</li>
        		<li>D. Mejia, L. Selle, R. Bazile, T. Poinsot</br>
        			<p class="publicationsTitle">Wall-temperature effects on flame response to acoustic oscillations.</p>
        			<a class="link" href="../data/publications/Mejia2015.pdf">Proceedings of the Combustion Institute 5 (2015) 3201–3208</a></br>
        		</li>
                <li>D. Mejia</br>
                    <p class="publicationsTitle">Wall-temperature effects on flame response to acoustic oscillations.</p>
                    <a class="link" href="../data/publications/Mejia2014.pdf"">Ph.D Thesis, 2014</a></br>
                </li>
        	</ul>
        <h3 class="section-title">Conferences</h3>
        	<ul class="listConferences">
        		<li>D. Mejia, M. Bauerheim, P. Xavier, B. Ferret, L. Selle, T. Poinsot</br>
        			<p class="publicationsTitle">Stabilization of a premixed laminar  ame on a rotating cylinder.</p>
        			36th International Symposium on Combustion, Seoul, Korea. July 31 – August 5, 2016. <a href="../data/presentations/Sympo2016.pdf" class="link">Presentation</a></br>
        		</li>
        		<li>D. Mejia, L. Selle, R. Bazile, T. Poinsot</br>
        			<p class="publicationsTitle">Wall-temperature effects on flame response to acoustic oscillations.</p>
        			35th International Symposium on Combustion, San Fransico, USA. August 3 - August 8, 2014. <a href="../data/presentations/Sympo2014.pdf" class="link">Presentation</a></br>
        		</li>
        		<li>D. Mejia</br>
        			<p class="publicationsTitle">Wall-temperature effects on flame response to acoustic oscillations.</p>
        			Ph.D Defence, Toulouse, France. May 20, 2014. <a href="../data/presentations/MejiaPhD2014.pdf" class="link">Presentation</a></br>
        		</li>

        	</ul>	
    </div>
</body>