.history dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.history {
    dt {
        width: 40%;
        text-align: center;
    }
    dd {
        width: 59%;
    }
}

.profilePicture {
    max-height: 314px;
    max-width: 222px;
    width: 100%;
    border-radius: 8px;
}

@media(max-width: 640px) {
    .history dt, dd {
        display: block;
    }
    .history dt {
        width: 100%;
        text-align: center;
    }
    .history dd {
        width: 100%;
        text-align: left;
    }
    .profilePicture {
        width: 100%;
    }
}

.containerSkills {
    margin-left: 100px;
    width: 100%;
    float: center;

    table {
    table-layout : fixed;
    }
}

.containerSkills th {
    text-align: left;

}

.listSkills {
  list-style-position:inside;
}

@media(max-width: 740px) {
    .containerSkills {
        margin-left: 50px;
  }
}

@media(max-width: 640px) {
    .containerSkills {
        margin: auto;
  }
}

.hobbies dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.hobbies {
    dt {
        width: 40%;
        text-align: left;
    }
    dd {
        width: 59%;
    }
}

@media(max-width: 640px) {
    .hobbies dt, dd {
        width: 100%;
        display: block;
        padding-right: 0px;
    }
    .hobbies dt {
        text-align: center;
    }
    .hobbies dd {
        width: 100%;
        text-align: left;
    }
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prevF, .prevP, .prevS, .nextF, .nextP, .nextS {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.3s ease;
  border-radius: 0 3px 3px 0;

  &:hover {
    background-color: rgba(0,0,0,0.8);
  }
}

/* Position the "next button" to the right */
.nextF, .nextP, .nextS {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.textF, .textP, .textS {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertextF, .numbertextP, .numbertextS {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 640px) {
  .textF, .textP, .textS, .nextF, .nextP, .nextS, .prevF, .prevP, .prevS {
      font-size: 11px
    }
  .prevF, .prevP, .prevS {
    left: 0;
    border-radius: 0 3px 3px 0;
  }  
}
