.experience dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.education dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.taskPostdoc, .listCourses {
    list-style-position:outside;
    margin-left: 2em;
}

@media(min-width: 640px) {
    .experience {
        dt {
            width: 40%;
        }
        dd {
            width: 60%;
        }
    }
    .education {
        dt {
            width: 40%;
        }
        dd {
            width: 60%;
        }
    }
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}