.experience dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.education dt, dd {
    display: inline-block;
    vertical-align: top;
    margin-bottom: 20px;
}

.experience {
    dt {
        width: 40%;
        text-align: center;
    }
    dd {
        width: 59%;
    }
}

.education {
    dt {
        width: 40%;
        text-align: center;
    }
    dd {
        width: 59%;
    }
}


.taskPostdoc, .listCourses {
    list-style-position:outside;
    margin-left: 2em;
}

@media(max-width: 640px) {
    .experience {
        dt, dd {
            display: block;
        }
        dt {
            width: 100%;
            text-align: center;
        }
        dd {
            width: 100%;
            text-align: left;
        }
    }
    .education {
        dt, dd {
            display: block;
        }
        dt {
            width: 100%;
            text-align: center;
        }
        dd {
            width: 100%;
            text-align: left;
        }
    }
}

.title {
    margin: 0;
    font-weight: bold;
    font-size: 1.2rem;
}